PORT=8787
APP_PUBLIC_BASE_URL=https://www.theivanzheng.com
ALLOWED_ORIGIN=https://www.theivanzheng.com
NEWSLETTER_REDIRECT_URL=https://www.theivanzheng.com/theivanzheng.html
NEWSLETTER_SUCCESS_URL=https://www.theivanzheng.com/newsletter-confirmado.html
NEWSLETTER_NAME=El Circulo Privado
SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
RESEND_API_KEY=YOUR_RESEND_API_KEY
RESEND_FROM_EMAIL=Ivan Zheng <newsletter@theivanzheng.com>
RESEND_REPLY_TO=newsletter@theivanzheng.com
CONSENT_VERSION=v1-2026-04-18
TOKEN_EXPIRY_HOURS=24
