PORT=8787
APP_PUBLIC_BASE_URL=http://127.0.0.1:8080
ALLOWED_ORIGIN=http://127.0.0.1:8080
NEWSLETTER_REDIRECT_URL=http://127.0.0.1:8080/theivanzheng.html
NEWSLETTER_NAME=El Circulo Privado
SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
RESEND_API_KEY=YOUR_RESEND_API_KEY
RESEND_FROM_EMAIL=Ivan Zheng <newsletter@theivanzheng.com>
RESEND_REPLY_TO=newsletter@theivanzheng.com
CONSENT_VERSION=v1-2026-04-18
TOKEN_EXPIRY_HOURS=24
